In [1]:
import math

# FIRST TEST

Hypothesis: An institute claims that on average, 75% of the people vote for Mike.
Null Hypothesis = 0.75 ///
Alternative Hypothesis < 0.75

In [4]:
n = 100
p = 0.77

Z = (p-0.75)/math.sqrt(0.75*(1-0.75)/n)
Z

0.46188021535170104

The Z value is 0.461. So we need to look on the Z table the P-value. In this case is 0.6772. So as this number is higher than 0.05. So the null hypothesis is true.

# SECOND TEST

Hypothesis: On Average, six years old children weight 22kg. Null hypothesis = 22kg /// Alternative hypothesis > 22kg.

In [5]:
n = 100
sixYOChildrenMean = 23
standardDeviation = 4

Z = (sixYOChildrenMean-22)/(standardDeviation/math.sqrt(n))
Z

2.5

The Z value is 0.25. So we need to look on the Z table the P-value. In this case is 0.9938. But we need the rest, because the Alternative hypothesis is higher that, so we need to subtract. 1-0.9938.

In [6]:
1-0.9938

0.006199999999999983

So as this number is lower than 0.05. So the null hypothesis is false.