In [1]:
from scipy.stats import t
import math

Salary average of a data scientist  is $20 per hour. Sample is 9 and the standard variation is 10.

Getting the t value

In [2]:
t_table_value = (30-20)/10/math.sqrt(8)
t_table_value

0.35355339059327373

What is the probability of getting a salary below $30

In [3]:
t.cdf(t_table_value,8)

0.633595063198829

What is the probability of getting a salary higher $30

In [4]:
t.sf(t_table_value,8)

0.3664049368011709

In [5]:
total = t.cdf(t_table_value,8) + t.sf(t_table_value,8)
total

0.9999999999999999